<ion-header color="dark">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button href="cate">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><marquee>ABOUT THE APP</marquee></ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content class="ab">
  <p class="fo"> This app is just a project based Third-party app completed by a student of <i>Gossner college</i>.The data has been taken from the google api as
    a "Third-party apps can use these APIs to take advantage of or extend the functionality of the existing services."<br>
    The APIs provide functionality like analytics, machine learning as a service (the Prediction API) or access to user data (when permission to read the data is given)
<br><br>The developer is not responsible for any <i ion-text color="danger">fallacious</i> news content of this app and niether take credit for the virtous news content of this app.
<br><br>
The Developer is at a helm for the designing the layout of this app.</p>


</ion-content>