
.bg{
    --ion-background-color: linear-gradient(197deg, rgba(240, 196, 100, 0.925) 0%, rgb(236, 206, 106) 13.5%, rgb(223, 82, 57)33.33%, rgba(94, 97, 116, 0.986) 150%) !important;
}
.col{
    font-family: algerian;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold;
    font-size: larger;
    text-decoration-color: green($color: #d81515);
}
.gb{
    font-family: Little Lord Fontleroy NF ;
    font-size: 20px;
}