.co{
    --ion-background-color: linear-gradient(197deg, rgba(224, 101, 101, 0.925) 0%, rgb(218, 114, 114) 13.5%, rgb(236, 231, 150)33.33%, rgba(94, 97, 116, 0.986) 150%) !important;
}
.l1{
    font-weight: bolder;
}

.l2{
    font-weight: bolder;
}
.ht{
    height: 30vx;
    width: 400px;
    
    text-shadow: 50cm;
}
