
<ion-header color="dark">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button href="cate">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Developers</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card  color="dark" >
  <ion-img src="/assets/mypic.jpg.jpg"></ion-img>
  <ion-card-header>
    <ion-card-subtitle class="col" color="danger">KRISHNA MURARI KUMAR</ion-card-subtitle>
    <ion-card-title>B.SC IT</ion-card-title>
  </ion-card-header>
 
  <ion-card-content>
    <B>Institution</B>- GOSSNER COLLEGE<br>
  <br>
   
  </ion-card-content>
  <ion-card-content>
    <B>Roll no.</B><br>83
  <br>
   
  </ion-card-content>
</ion-card>
  <ion-card color="dark">
  <ion-img src="/assets/mypic.jpg.jpg"></ion-img>
  <ion-card-header>
    <ion-card-subtitle class="col" color="danger">AMRIT KUMAR</ion-card-subtitle>
    <ion-card-title>B.SC IT</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <B>Institution</B>- GOSSNER COLLEGE<br>
  <br>
   
  </ion-card-content>
  <ion-card-content>
    <B>Roll no.</B><br>84</ion-card-content>
  <br>
</ion-card>
<ion-card color="dark">
  <ion-img src="/assets/ankush.jpeg"></ion-img>
  <ion-card-header>
    <ion-card-subtitle class="col" color="danger">ANKUSH BARNWAL</ion-card-subtitle>
    <ion-card-title>B.SC IT</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <B>Institution</B>- GOSSNER COLLEGE<br>
  <br>
   
  </ion-card-content>
  <ion-card-content>
    <B>Roll no.</B><br>81</ion-card-content>
  <br>
</ion-card>
<ion-card color="dark">
  <ion-img src="/assets/prakash.jpg"></ion-img>
  <ion-card-header>
    <ion-card-subtitle class="col" color="danger">PRAKASH KUMAR</ion-card-subtitle>
    <ion-card-title>B.SC IT</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <B>Institution</B>- GOSSNER COLLEGE<br>
  <br>
   
  </ion-card-content>
  <ion-card-content>
    <B>Roll no.</B><br>80</ion-card-content>
  <br>
</ion-card>
</ion-content>


